<div class="main_page-hero-image2">
  <div class="main_page-title">
    <h3> <strong> Learn from a neighbourhood thanks to locals ! </strong> </h3>
  </div>
</div>

<div class="row row-margin">
  <div class="col-xs-12">
    <div class="StatTitle">
      <h3> <strong> What Locals think about: </strong> </h3>
      <%= link_to "Add Review", new_search_review_path(:search_id => @search.id), class:"buttonNoFillGreen" , style:"margin-left:1240px" %>
    </div>
    <!-- button Addreview -->

    <div class="cardStat", style="display: flex">
      <div class="community">
        <h3> Category</h3>
        <p> <strong> 80% </strong> "Friendly neighbours" <%= image_tag "main_page_hands.png" %></p>
        <p> <strong> 80% </strong> "Activity and events organised" <%= image_tag "main_page_event.png" %></p>
        <p> <strong> 80% </strong> "Plan to stay >5 years" <%= image_tag "main_page_5years.png" %></p>
      </div>
      <div class="environment">
       <h3> Category</h3>
       <p> <strong> 80% </strong> "Quiet place" <%= image_tag "main_page_quiet.png" %></p>
       <p> <strong> 80% </strong> "Green place" <%= image_tag "question_environment.png" %></p>
       <p> <strong> 80% </strong> "Clean place" <%= image_tag "main_page_clean.png" %></p>
     </div>
     <div class="facilities">
       <h3> Category</h3>
       <p> <strong> 80% </strong> "Easy to park" <%= image_tag "main_page_car.png" %></p>
       <p> <strong> 80% </strong> "Parking for cars" <%= image_tag "main_page_parking.png" %></p>
       <p> <strong> 80% </strong> "Parking for bikes" <%= image_tag "main_page_bike.png" %></p>
       <p> <strong> 80% </strong> "Public transport" <%= image_tag "main_page_tram.png" %></p>
       <p> <strong> 80% </strong> "Bike lanes" <%= image_tag "main_page_bikepath.png" %></p>
     </div>
     <div class="comfort">
       <h3> Category</h3>
       <p> <strong> 80% </strong> "Pavement well maintained" <%= image_tag "main_page_street.png" %></p>
       <p> <strong> 80% </strong> "Street well illuminated" <%= image_tag "main_page_light.png" %></p>
       <p> <strong> 80% </strong> "Nice playground" <%= image_tag "main_page_playground.png" %></p>
       <p> <strong> 80% </strong> "Dog friendly" <%= image_tag "main_page_dog.png" %></p>
     </div>
   </div>
 </div>
</div>
<br><br><br><br>
<div class="main_page-hero-image3">
  <div class="main_page-title">
    <h3> <strong> and get a feel of their lifestyle ! </strong> </h3>
  </div>
</div>

