<div class= "container">

  <%= simple_form_for [@search, @review, @answer] do |f| %>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-1">
      <div class="cardQ5">
        <p>
          <%= f.input :q5,
          :label => Answer::QUESTIONS[:q5][:title],
          :collection => [" Students ", " Families ", " Retirees ", " Tourists ", " Offices "],
          :include_blank => "Anything",
          wrapper_html: { class: 'form-group' },
          :as => :check_boxes,
          include_hidden: false,
          :input_html => {:multiple => true} %>
        </p>
      </div>
      <div class="cardQ6">
        <p>
          <%= f.input :q6,
          :label => Answer::QUESTIONS[:q6][:title],
          :collection => ["Super High Income","High Income", "Average Income", "Low Income"],
          :include_blank => "Anything",
          wrapper_html: { class: 'form-group' },
          :as => :radio_buttons,
          include_hidden: false,
          :input_html => {:multiple => false} %>
        </p>
      </div>
      <!-- Questions on Community  -->
      <div class="cardCommunity">
        <div class="emoji-community">
          <i class="fas fa-users"> Category... </i>
        </div>
        <div class="review-content", style="display: flex">
          <div style="width: 50%; padding:15px">
            <p>
              <%= f.input :q7,
              collection: 0..5,
              :label => Answer::QUESTIONS[:q7][:title],
              wrapper_html: { class: 'form-group' }
              %>
            </p>
          </div>
          <div style="width: 50%; padding:15px">
            <p>
              <%= f.input :q8, collection: 0..5,
              :label => Answer::QUESTIONS[:q8][:title],
              wrapper_html: { class: 'form-group' }
              %>
            </p>
          </div>
        </div>
        <div class="review-content", style="display: flex">
          <div style="width: 50%; padding:15px">
            <p>
              <%= f.input :q9, collection: 0..5,
              :label => Answer::QUESTIONS[:q9][:title],
              wrapper_html: { class: 'form-group' }
              %>
            </p>
          </div>
        </div>
      </div>
      <!-- Questions on Environment -->
      <div class="cardEnvironment">
        <div class="emoji-environment">
          <i class="fab fa-pagelines"> Category... </i>
        </div>
        <div class="review-content", style="display: flex">
          <div style="width: 50%; padding:15px">
            <p>
              <%= f.input :q10, collection: 0..5,
              :label => Answer::QUESTIONS[:q10][:title],
              wrapper_html: { class: 'form-group' }
              %>
            </p>
          </div>
          <div style="width: 50%; padding:15px">
            <p>
             <%= f.input :q11, collection: 0..5,
             :label => Answer::QUESTIONS[:q11][:title],
             wrapper_html: { class: 'form-group' }  %>
           </p>
         </div>
       </div>
       <div class="review-content", style="display: flex">
        <div style="width: 50%; padding:15px">
         <p>
          <%= f.input :q12, collection: 0..5,
          :label => Answer::QUESTIONS[:q12][:title],
          wrapper_html: { class: 'form-group' }  %>
        </p>
      </div>
    </div>
  </div>
  <!-- Questions on Facilities -->
  <div class="cardFacilities">
    <div class="emoji-facilities">
      <i class="fas fa-subway"> Category... </i>
    </div>
    <div class="review-content", style="display: flex">
      <div style="width: 50%; padding:15px">
        <p>
         <%= f.input :q13, collection: 0..5,
         :label => Answer::QUESTIONS[:q13][:title],
         wrapper_html: { class: 'form-group' }  %>
       </p>
     </div>
     <div style="width: 50%; padding:15px">
       <p>
        <%= f.input :q14, collection: 0..5,
        :label => Answer::QUESTIONS[:q14][:title],
        wrapper_html: { class: 'form-group' }  %>
      </p>
    </div>
  </div>
  <div class="review-content", style="display: flex">
    <div style="width: 50%; padding:15px">
      <p>
        <%= f.input :q15, collection: 0..5,
        :label => Answer::QUESTIONS[:q15][:title],
        wrapper_html: { class: 'form-group' }  %>
      </p>
    </div>
    <div style="width: 50%; padding:15px">
      <p>
        <%= f.input :q16, collection: 0..5,
        :label => Answer::QUESTIONS[:q16][:title],
        wrapper_html: { class: 'form-group' }  %>
      </p>
    </div>
  </div>
  <div class="review-content", style="display: flex">
    <div style="width: 50%; padding:15px">
      <p>
        <%= f.input :q17, collection: 0..5,
        :label => Answer::QUESTIONS[:q17][:title],
        wrapper_html: { class: 'form-group' }  %>
      </p>
    </div>
  </div>
</div>
<!-- Questions on Comfort -->
<div class="cardComfort">
  <div class="emoji-comfort">
    <i class="far fa-smile"> Category... </i>
  </div>
  <div class="review-content", style="display: flex">
    <div style="width: 50%; padding:15px">
      <p>
        <%= f.input :q18, collection: 0..5,
        :label => Answer::QUESTIONS[:q18][:title],
        wrapper_html: { class: 'form-group' }  %>
      </p>
    </div>
    <div style="width: 50%; padding:15px">
      <p>
        <%= f.input :q19, collection: 0..5,
        :label => Answer::QUESTIONS[:q19][:title],
        wrapper_html: { class: 'form-group' }  %>
      </p>
    </div>
  </div>
  <div class="review-content", style="display: flex">
    <div style="width: 50%; padding:15px">
      <p>
        <%= f.input :q20, collection: 0..5,
        :label => Answer::QUESTIONS[:q20][:title],
        wrapper_html: { class: 'form-group' }  %>
      </p>
    </div>
    <div style="width: 50%; padding:15px">
      <p>
        <%= f.input :q21, collection: 0..5,
        :label => Answer::QUESTIONS[:q21][:title],
        wrapper_html: { class: 'form-group' }  %>
      </p>
    </div>
  </div>
</div>
<div class="buttonSubmitQ">
  <%= f.button :submit, class: "btn btn-primary" %>
  <% end  %>
</div>
</div>
</div>
</div>
