<div class="row">
  <div class="col-xs-12">

    <div class="cardMap", style="display: flex">
      <%= render 'shared/mapradius' %>

      <div class="MapInfos">

        <div class="searchBarTitle">
          <h4> Decide of your neighbourhood... </h4>
          <div class="searchBarAddress">
            <%= form_tag(controller: "searches", action: "create", method: "post") do %>
            <%= text_field_tag 'search', nil, placeholder: @address   %>
            <% end %>
          </div>
        </div>

        <div class="searchRadiusTitle">
          <h4> playing with the radius </h4>
          <div class="searchRadius">
            <%= form_tag(controller: "searches", action: "create", method: "post") do %>
            <%= text_field_tag 'search', nil, placeholder: 'type a radius'   %>
            <% end %>
          </div>
        </div>

        <div class="buttonsMapInfos">

          <div class="btn btn-primary">
            <%= link_to "Save Search", new_user_session_path %>
          </div>

          <div class="btn btn-primary">
            <%= link_to "New Search", new_user_session_path %>
          </div>

          <div class="btn btn-success", style="margin-top: 15px">
            <%= link_to "Add Review", new_user_session_path %>
          </div>
        </div>
      </div>
    </div>

    <br><br><br><br><br><br>

    <div class="row">
      <div class="col-xs-12">

        <div class="cardPicture">

         <!-- space for the commune review and description -->
         <div class="cardPictureCommune">
          <h4> The street is part of "Commune" </h4>
          <h4> + Add the rating </h4>
          <p> Description of the commune </p>
          <%= link_to "Read more..." %>
        </div>

        <!-- space for the pictures -->

        <div class="smallcardPictureNeightbourhood">

          <div class="Pic1">
            <p> Your Neighbourhood in picture </p>
          </div>
          <div class="Pic2">
          </div>
          <div class="Pic3">
          </div>
          <div class="LinkPic">
            <%= link_to "See more..." %>
          </div>
        </div>

        <div class="bigcardPictureNeighbourhood">
          <p>  @search.address </p>
          <p>  + Add the rating </p>
        </div>

      </div>
    </div>
  </div>

  <br><br><br><br><br><br>


  <h4> Read what Locals think about: </h4>
  <div class="cardStat">


  </div>

  <h4> Reviews by Locals: </h4>
  <div class="cardStat">


  </div>

</div>
</div>
</div>



<!-- TO DO and DISPLAY

1. Partial with the map with markers and radius (w/o reviews) => A

2. Picture part
=> Card with picture of the street.
if no street => static map
=> Desciption of the commune + ZIP CODE => A
=> Others cards

3. Statistics Reviews => based on a computation => M

4. Reviews of the neigbourhood put in a card -->




