<div class="container">
  <div class="row">
    <div class="col-10 col-lg-8">

      <h4> Define your neighbourhood... playing with the radius </h4>

      <div class="searchLine">

        <div class="searchBarAddress">
          <div style="padding:15px">
            <%= form_tag(controller: "searches", action: "create", method: "post") do %>
            <%= text_field_tag 'search', nil, placeholder: @search.address   %>
            <% end %>
          </div>
        </div>

        <!-- STILL TO CHANGE!!!!!!!!!!!!!! -->
        <div class="searchRadius">
          <div style="padding:15px">
            <%= form_tag(controller: "searches", action: "create", method: "post") do %>
            <%= text_field_tag 'search', nil, placeholder: @search.radius.to_s+' km'   %>
            <% end %>
          </div>
        </div>
        <!-- STILL TO CHANGE!!!!!!!!!!!!!! -->

        <div class="btn btn-primary", style="margin:15px">
          <%= link_to "Save Search", new_user_session_path %>
        </div>

        <div class="btn btn-primary", style="margin:15px">
          <%= link_to "New Search", new_user_session_path %>
        </div>

        <div class="btn btn-success", style="margin:15px">
          <%= link_to "Add Review", new_user_session_path %>
        </div>

      </div>


      <h4> Let's locate your search: </h4>

      <div class="cardMap">
        <!-- Partial is located in Views/Shared -->
        <%= render 'shared/mapradius' %>
      </div>


      <h4> Your neightbourhood in pictures: </h4>
      <div class="cardReview">

        <!-- space for the pictures -->

        <!-- space for the commune review and description -->

      </div>

      <h4> Read what Locals think about: </h4>
      <div class="cardStat">


      </div>

      <h4> Reviews by Locals: </h4>
      <div class="cardStat">


      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <h4>Address: <%= @search.address %></h4>
      <p>Radius <%= @search.radius %> km</p>

      <!-- The map with the result -->
      <section id="searchdestination">
        <div id="map" style="width: 100%; height: 400px;"
        data-marker="<%= @markers.to_json %>" >
      </div>
    </section>

    <!-- show the list of reviews in radius -->
    <ul>
      <% @reviews_in_radius.each do |r| %>
      <li>
        <strong>Title: <%= r.street_review_title %></strong>
        <p>Address: <%= r.address %></p>
        <p>Review Street: <%= r.street_review_content %></p>
        <p>User: <%= r.user.email %></p>
      </li>
      <% end %>
    </ul>

  </div>
</div>


</div>



<!-- TO DO and DISPLAY

1. Partial with the map with markers and radius (w/o reviews) => A

2. Picture part
=> Card with picture of the street.
if no street => static map
=> Desciption of the commune + ZIP CODE => A
=> Others cards

3. Statistics Reviews => based on a computation => M

4. Reviews of the neigbourhood put in a card -->

