<!-- SECTION 1 -->

<!-- need to add a search bar -->
<section id="searchdestination">
  <h1><%= @search.address %></h1>
  <div class="container">
    <div class="row justify-content-center searchBar">
      <div class="col-10 col-lg-8">
        <%= form_tag(controller: "searches", action: "create", method: "post") do %>
          <%= text_field_tag(:search) %>
          <%= submit_tag("Search") %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- for street -->

  <!-- The map with the result -->
  <div
  id="map"
  style="width: 50%;
  height: 300px;"
  data-marker="<%= @marker.to_json %>"
  ></div>
</section>

<!-- for radius -->

<p>Rate the review</p>

<div class="stars">
  <form action="">
    <input class="star star-5" id="star-5" type="radio" name="star"/>
    <label class="star star-5" for="star-5"></label>
    <input class="star star-4" id="star-4" type="radio" name="star"/>
    <label class="star star-4" for="star-4"></label>
    <input class="star star-3" id="star-3" type="radio" name="star"/>
    <label class="star star-3" for="star-3"></label>
    <input class="star star-2" id="star-2" type="radio" name="star"/>
    <label class="star star-2" for="star-2"></label>
    <input class="star star-1" id="star-1" type="radio" name="star"/>
    <label class="star star-1" for="star-1"></label>
  </form>
</div>

<!-- for the buttons -->

<div class="row">
  <div class="button">
    <%= link_to "Save my search", new_user_session_path %>
  </div>
</div>

<div class="row">
  <div class="buttonNoFill">
    <%= link_to "New Search", new_user_session_path %>
  </div>
</div>

<div class="row">
  <div class="buttonNoFill">
    <%= link_to "Add a review", new_user_session_path %>
  </div>
</div>

<!-- SECTION 2 -->

