<div class= "container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">


      <div class="review-title">
        <h3> <strong> Your review is precious for the others! </strong> </h3>
      </div>

      <!-- add static image - a map centered to address given by user -->
      <div>
        <%= image_tag @staticmap, :alt => @search.address %>
      </div>


      <div class="review-rating">
        <%= simple_form_for [@search, @review] do |f| %>
        <div class="cards">
          <div class="card-Review-Street">
            <div style="width: 100%; padding:20px">
              <div class="color-street">
                <h5>Regarding the street...</h5>
              </div>
              <p> <%= f.input :street_review_average_rating, collection: 0..10, :label => "Your General Appreciation" %> </p>
              <p> <%= f.input :street_review_title, :label => "Your Review Title" %> </p>
              <p> <%= f.input :street_review_content, :label => "Your Review" %> </p>
            </div>
          </div>

          <div class="card-Review-Commune"">
            <div style="width: 100%; padding:20px">
              <div class="color-commune">
                <h5>Regarding the commune...</h5>
              </div>
              <p> <%= f.input :commune_review_average_rating, collection: 0..10, :label => "Your General Appreciation" %> </p>
              <p> <%= f.input :commune_review_title, :label => "Your Review Title" %> </p>
              <p> <%= f.input :commune_review_content, :label => "Your Review" %> </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="confirm">
    <%= f.button :submit, "Confirm - Next > ", class: "btn btn-primary" %>
    <% end  %>
  </div>
</div>
