<div class="review-hero-image">
  <div class="review-title">
    <h3> <strong> Your review is precious for the others! </strong> </h3>
  </div>
</div>

<div class= "container">
  <%= simple_form_for [@search, @review] do |f| %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <div class="review-content", style="display: flex">

        <div class="card-Review-Street">

          <div class="color-street">
            <h4><strong> Regarding the street... </strong></h4>
          </div>

          <div style="padding:0px">
            <h5><strong> Street Name: </strong></h5>
            <%= form_tag(controller: "searches", action: "create", method: "post") do %>
            <%= text_field_tag 'search', nil, placeholder: @search.address   %>
            <% end %>
          </div>

          <div style="padding-top: 15px;">
            <h5><strong> Neighbourhood (radius): </strong></h5>
            <%= form_tag(controller: "searches", action: "create", method: "post") do %>
            <%= text_field_tag 'search', nil, placeholder: @search.radius.to_s+' km'   %>
            <% end %>
          </div>

          <div class="btn btn-primary", style="margin-top: 15px">
            <%= link_to "New Search", new_user_session_path %>
          </div>

          <div style="padding-top: 30px;">
            <h5> <%= f.input :street_review_average_rating, collection: 0..10, :label => "Your General Appreciation" %> </h5>
            <h5> <%= f.input :street_review_title, :label => "Your Review Title" %> </h5>
            <h5> <%= f.input :street_review_content, :label => "Your Review" %> </h5>
          </div>

        </div>


        <div class="card-Review-Commune"">

          <div class="color-commune">
            <h4><strong>Regarding the commune...</strong></h4>
          </div>

          <div style="padding:0px">
          </div>

          <div style="padding-top: 15px;">
          </div>

          <div style="padding-top: 205px;">
            <p> <%= f.input :commune_review_average_rating, collection: 0..10, :label => "Your General Appreciation" %> </p>
            <p> <%= f.input :commune_review_title, :label => "Your Review Title" %> </p>
            <p> <%= f.input :commune_review_content, :label => "Your Review" %> </p>
          </div>

        </div>
      </div>

      <div class="confirm">
        <%= f.button :submit, "Confirm - Next > ", class: "btn btn-primary" %>
        <% end  %>
      </div>

    </div>
  </div>
</div>
